<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!--href="/"-->
    <a id="title" class="navbar-brand berkshire-swash-regular" href="/">
      <img id="bookimg" src="../../img/bookimg.gif" />
      Shelf Life</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Include sign-up modal button -->
        {{#if logged_in}}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/profile"
            >Profile</a>
          </li>
          <!--<li
                                a /profile
                             /profile>-->
        {{else}}
          <li class="nav-item">
            <button
              id="signUp-btn"
              type="button"
              class="btn btn-primary oleo-script"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              href="/signup"
            >
              Sign Up!
            </button>
            <!-- <a class="nav-link active" aria-current="page" href="#">Sign Up</a> -->
          </li>
          {{! //took out href="#"  }}
          <li class="nav-item">
            <!--login link--> 
            <li class="nav-item">
              <button
                class="nav-link btn btn-link"
                type="button"
                onclick="window.location.href='/login'"
              >Log In</button>
            </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" aria-disabled="false">About Us</a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
    </div>
  </div>
</nav>
<header class="masthead">
  {{! <div id="bg-img" class="header">
    <h1> </h1>
  </div> }}
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5 berkshire-swash-regular">Welcome to Shelf Life! Search
            for a book!</h1>
          <!--TODO: Search class + ID names for CSS conflicts and CHANGE-->
          <form
            class="form-subscribe"
            id="contactForm"
            data-sb-form-api-token="API_TOKEN"
          >
            <!-- Search book catalogue-->
            <div action="/search" class="row" type="text">
              <div class="col">
                <input
                  class="form-control form-control-lg"
                  id="search-bar"
                  type="text"
                  placeholder="Search a Book"
                  data-sb-validations="required,email"
                  data-sb-can-submit="no"
                />
              </div>
              <div class="col-auto"><button
                  class="btn btn-primary btn-lg"
                  id="submitButton"
                  type="button"
                >Submit!</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<div>
  {{#each books as |b|}}
    <section
      style="display:inline-flex; justify-content:center; align-items:center; text-align:center"
    >
      <div
        id="books"
        style="width:200px; height:200px; border:solid 2px black; border-radius:10px; box-shadow:0px 0px 10px black;"
      >
        <h2>{{b.bookTitle}}</h2>
        <small>Author-</small>
        <p>{{b.Author}}</p>
      </div>
    </section>
  {{/each}}
</div>
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi bi-person-vcard m-auto text-primary">
            </i>
          </div>
          <h3>Fully Free</h3>
          <p class="lead mb-0">Sign up for free and start listing your used
            books!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi bi-binoculars m-auto text-primary">
            </i>
          </div>
          <h3>Tons to Choose From</h3>
          <p class="lead mb-0">Search our digital shelves for tons of used books
            from other users!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi bi-box-seam-fill m-auto text-primary">
            </i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">Simply find the title you're looking for, agree
            to exchange with a book from your shelf, and send!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/Users/nardge/Pictures/Background-images-and-projects/bg-retro1.png')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Free to join. Free to use!</h2>
        <p class="lead mb-0">
          Our platform is free to use and always will be. Sign up for free and
          start trading books with other users today!
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('/Users/nardge/Pictures/Background-images-and-projects/bg-tiles.jpg')"
      >
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Books a Plenty!</h2>
        <p class="lead mb-0">
          Our digital shelves are stocked with tons of used books from other
          users. Find the title you're looking for and start trading today!
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/Users/nardge/Pictures/Background-images-and-projects/bg-arrows.jpg')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Easy to Use</h2>
        <p class="lead mb-0">
          Our platform is easy to use. Simply find the title you're looking for,
          agree to exchange with a book from your shelf, and send!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-1.jpg"
            alt="..."
          />
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much
            guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-2.jpg"
            alt="..."
          />
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been
            using it to create lots of super nice landing pages."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="assets/img/testimonials-3.jpg"
            alt="..."
          />
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these
            free resources available to us!"
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action text-white text-center" id="signup">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        <form
          class="form-subscribe"
          id="contactFormFooter"
          data-sb-form-api-token="API_TOKEN"
        >
          <!-- Sign Up Button-->
          <div class="row">
            <div class="auto">
              <button
                class="btn btn-primary btn-lg"
                id="submitButton"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                type="button"
                href="/signup"
              >Get Started!</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id=&quo...