<ul>

  <li id="su"><a href="/signup" title="create your own account!">signup</a></li>
</ul>

<!--modal tied to sign-up link-->
<ul>
  <li id="su"><a
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      href="/signup"
      title="create your own account!"
    >signup</a></li>
</ul>

<section class="login-page">
  <form action="api/users/login" class="login-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="enter your username"
        required
      />
    </div>
    <div class="form-group">
      <label for="email-login">Email</label>

      <input
        type="email"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
      />
      <small id="emailHelp" class="form-text text-muted">We'll always keep your
        information private</small>
    </div>
    <div class="form-group">
      <label for="password-login">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
        minlength="8"
        required
      />
    </div><br />
    <!--REMEMBER ME-->
    <button type="submit" class="btn btn-primary" id="login-sub">Submit</button>
  </form>

</section>
<script src="./js/signup.js"></script>