header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("/Users/nardge/Pictures/Background-images-and-projects/bg-tiles.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}